* {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

.toast {
    width: 320px;
    border: 1px solid grey;
    border-radius: 6px;
    display: flex;
    gap: 12px;
    align-items: center;
}

.toast .icon {
    width: 32px;
    height: 32px;
    background: url(img/warning-svgrepo-com.svg) no-repeat;
}

.toast .close {
    width: 32px;
    height: 32px;
    background: url(img/close-svgrepo-com.svg) no-repeat;
}

.toast h2 {
    font-size: 16px;
}

.toast p {
    font-size: 14px;;
}

.toast header {
    display: flex;
    justify-content: space-between;
}